body{
    background: #777;
}
#outer{
    background: #777;
    color: #ebebeb;
    font-size: 18px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    margin-left: 20px;
    margin-right: 20px;
}
#head{
    background: #ebebeb;
    color: #777;
    text-align: center;
    font-size: 18px;
    height: 70px;
    padding-top: 40px;
}
#nav{
    background: #ebebeb;
    color: #777;
    text-align: center;
    font-size: 18px;
    height: 110px;
}
#navtex{
    padding-top: 40px;
    font-size: 18px;
}
#aside{
    background: #ebebeb;
    align-content: center;
    color: #777;
    height: 250px;
    width: 400px;
    margin-right: 40px;
    margin-top: 30px;
    float: right;
}
#sect{
    background: #ebebeb;
    align-content: center;
    color: #777;
    height: 250px;
    width: 50%;
    margin-left: 40px;
    margin-top: 30px;
}
#sectex{
    padding-top: 40px;
    font-size: 16px;
}
article{
    background: #777;
    width: 95%;
    height: 170px;
    margin-left: 10px;
}
#art{;
    color: #ebebeb;
    align-content: center;
    font-size: 16px;
    padding-top: 20px;
}
#p{
    align-content: center;
    width: 90%;
    padding-left: 5%;
}
#p1 {
    background: #ebebeb;
    color: #777;
    align-content: center;
    padding: 10px;
}
#p2{
    background: #ebebeb;
    color: #777;
    align-content: center;
    padding: 10px;
}

footer{
    background: #ebebeb;
    color: #777;
}
#footer{
    background: #ebebeb;
    color: #777;
    text-align: center;
    font-size: 16px;
    height: 70px;
    padding-top: 40px;
    margin-top: 20px;
}
