body {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    columns: #777;
    background: #777;
    width: '960px';
    font-size: '18px'
}
article {
    color: #ebebeb;
    background: #777;
    float: left;
    width: 50%;
}
.eb {
    background: #777;
    color: #ebebeb;
    text-align: center;
}
#eb{
    background: #777;
    color: #ebebeb;
    text-align: center;
}
h1 {
    color: #777;
    background: #ebebeb;
    text-align: center;
    padding: 20px;
}
#hrd{
    position: fixed;
    padding: 40px;
    text-align: center;
    margin: 0;
    top: 0;
    left: 0;
}
.section{
    padding: 20px;
}
}
#asi{
    background: #777;
    color: #ebebeb;
    text-align: center;
}
h1 #tp{
    background: #ebebeb;
    color: #777;
    text-align: center;
    padding: 10px
}
#bo{
    background: #ebebeb;
    color: #777;
    text-align: center;
    padding: 10px;
}
footer {
    position: fixed;
    bottom: 10%;
    padding: 20px;
    color: #777;
    background: #ebebeb;
    width: 94%;
    text-align: center;
}
#art{
    width: 94%;
    margin: 0px 3% 0px 3%;
    background: #777;
    color: #ebebeb;
    
}
